<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emergency.nomad">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />

    <application
        android:label="Emergency Nomad"
        android:debuggable="true"
        android:allowBackup="false">

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".DaemonService"
            android:exported="true"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name=".BootReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
